app-modal {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(46, 46, 46, 0.63);
    border-radius: 7px;
    box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.3);
    background-color: rgb(133, 132, 132);
    color: #FFF;
    position: fixed;
    top: 30%;
    width: 350px;
    left: calc(50% - 175px);
    z-index: 1000;
    display: none;
    padding: 16px;

    h1 {
        margin-top: 0;
    }

    ion-button {
        font-size: 0.74em;
    }
}